
.menuButton {
    -fx-background-color: transparent;
    -fx-text-fill: #d8b4ff;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8 0 8 12;
    -fx-background-radius: 8;
}

.menuButton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.menuButton:focused {
    -fx-background-color: linear-gradient(to right, #5a189a, #9d4edd);
    -fx-text-fill: white;
}

.button {
    -fx-font-family: "Segoe UI";
}