.background-pane {
    -fx-background-color: linear-gradient(to bottom right, #1b0026, #3c006e);
}

.title-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #bb86fc;
}

.subtitle-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #e3d8ff;
}

.text-field, .combo-box, .password-field {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-background-radius: 6;
}

.primary-btn {
    -fx-background-color: #6200ea;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.primary-btn:hover {
    -fx-background-color: #7c4dff;
}


.secondary-btn {
    -fx-background-color: #333;
    -fx-text-fill: #bb86fc;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.secondary-btn:hover {
    -fx-background-color: #555;
}

.danger-btn {
    -fx-background-color: #b00020;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.danger-btn:hover {
    -fx-background-color: #cf6679;
}


.table-view {
    -fx-background-color: #2d2d2d;
    -fx-border-color: #5e35b1;
    -fx-border-radius: 6;
}

.table-view .column-header {
    -fx-background-color: #3c006e;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-text-fill: white;
}